DATABASE_URL="postgresql://user:password@localhost:5432/job_tracker?schema=public"

JWT_ACCESS_SECRET="replace-with-a-random-32-byte-hex-string"
JWT_REFRESH_SECRET="replace-with-a-different-random-32-byte-hex-string"
